.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 20%;
  background: #f9f9f9;
}

.image-container {
  flex: 1;
  margin-right: 3rem;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.image-container:hover img {
  transform: scale(1.05);
}

.content-container {
  flex: 2;
}

h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
}


.button-container {
  margin-top: 2rem;
  /* margin-right: 17rem; */
}


.contact-button {
  background: linear-gradient(to right, #0e79eb, #0f09b9);
  color: #fff;
  padding: 15px 30px; /* increased padding */
  border: none;
  border-radius: 60px; /* increased border radius */
  font-size: 1.2rem; /* increased font size */
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}


.contact-button:hover {
  background: linear-gradient(to right, #0f09b9, #0e79eb);
  transform: translateY(-2px);
}

.contact-button:active {
  transform: translateY(1px);
}
