.airport-card {
  border: 1px solid #efefef;
  border-radius: 10px;
  width: 250px;
  height: 350px;
  padding: 20px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  transition: transform .2s; /* Animation */
}


.airport-card:hover {
  cursor: pointer;
  transform: scale(1.05); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  /* background-color: rgb(245, 187, 12); */
  color: white;
  background-color: rgb(237, 165, 10);
}

.airport-card__image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.airport-card__name {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}

.airport-card__rating {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}
