.airport-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: aquamarine;
  padding-bottom: 8%;
  /* background-color: red; */
}

.airport-section-header {
  display: flex;
  justify-content: center;
  margin:0;
  background-color: aquamarine;
  color: black;
  padding-top: 8%;
  /* margin: auto;
  align-self: center;
  justify-self: center; */
}
/* grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); */

/* display: grid; */