.list-heading {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .list-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .booking-list {
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60vh;
  }
  
  .booking-item {
    background-color: aquamarine;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
  
  .booking-user {
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .booking-airport {
    font-size: 14px;
    color: #cc2b16;
  }
  