

.mystyle:hover {
  /* background-color: blue;
  color: white; */
  /* background-color: black; */
  text-decoration: underline;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100; /* This ensures the navbar stays on top of all other content */
}

